<div id="add-academicYear-modal" class="modal">
  <div
    class="modal-background modal-toggler"
    data-target="add-academicYear-modal"
  ></div>

  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Novo Ano Letivo</p>
      <button
        class="delete modal-toggler"
        aria-label="close"
        data-target="add-academicYear-modal"
      ></button>
    </header>

    <%- include('_form', { url: '/admin/academic-years?_method=post', academicYear: newAcademicYear }) %> 
  </div>
</div>
