<div id="edit-academicYear-<%= academicYear.id %>-modal" class="modal">
  <div class="modal-background" onclick="toggleModal('edit-academicYear-<%= academicYear.id %>-modal')"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Editar Ano Letivo</p>
      <button class="delete" aria-label="close" onclick="toggleModal('edit-academicYear-<%= academicYear.id %>-modal')"></button>
    </header>
    <%- include('_form', { url: `/admin/academic-years/${academicYear.id}?_method=put`, academicYear: academicYear }) %> 
  </div>
</div>
