<% if (success != '') { %>
  <div class="message is-success">
    <div class="message-body">
      <%= success %>
    </div>
  </div>
<% } %>

<% if (error != '') { %>
  <div class="message is-danger">
    <div class="message-body">
      <%= error %>
    </div>
  </div>
<% } %>