<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/dashboard">
        Dashboard
      </a>

      <a class="navbar-item" href="/schools">
        Minhas Escolas
      </a>

      <% if (isAdmin) { %>
        <a class="navbar-item" href="/admin/schools">
          Escolas
        </a>

        <a class="navbar-item" href="/admin/classrooms">
          Turmas
        </a>

        <a class="navbar-item" href="/admin/students">
          Alunos
        </a>
  
        <a class="navbar-item" href="/admin/transports">
          Transporte
        </a>
  
        <a class="navbar-item" href="/admin/sectors">
          Setores
        </a>
  
        <a class="navbar-item" href="/admin/employees">
          Funcionários
        </a>
      <% } %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light">
            Meu Usuário
          </a>
          <a class="button is-danger" href="/auth/logout">
            Sair
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
