<div id="edit-grade-<%= grade.id %>-modal" class="modal">
  <div class="modal-background" onclick="toggleModal('edit-grade-<%= grade.id %>-modal')"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Editar Ano Escolar</p>
      <button class="delete" aria-label="close" onclick="toggleModal('edit-grade-<%= grade.id %>-modal')"></button>
    </header>
    <%- include('_form', { url: `/admin/grades/${grade.id}?_method=put`, grade: grade }) %> 
  </div>
</div>
