<%- include('../../layouts/admin-header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <h1 class="title is-4">Novo Setor</h1>
        <hr>
        <%- include('_form', { url: '/admin/sectors?_method=post', sector: sector }) %> 
      </div>
    </div>
  </div>
</section>

<%- include('../../layouts/admin-footer') %>
