<%- include('../layouts/header') %>

<section class="hero is-fullheight is-light">
  <div class="columns mt-6">
    <div class="column is-6 is-offset-3">
      <div class="card">
        <div class="card-content">
          <h1 class="title is-4">Novo Transporte</h1>
          <hr>
          <%- include('_form', { url: '/admin/transports?_method=post', transport: transport }) %> 
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>
