<form action="<%= url %>" method="POST">
  <section class="modal-card-body">
    <div class="field">
      <label class="label" for="name">Nome</label>
      <div class="control">
        <input
          class="input"
          type="text"
          name="grade[name]"
          id="name"
          placeholder="Ex.: 1ยบ Ano do Ensino Fundamental"
          value="<%= typeof grade.name != 'undefined' ? grade.name : '' %>"
          autofocus
          autocomplete="off"
  
        />
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-success" type="submit">Salvar</button>
  </footer>
</form>
