<%- include('../../layouts/header') %>

  <section class="section">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <h1 class="title is-4">Novo Usuário</h1>
          <hr>
          <%- include('_form', { url: '/admin/users?_method=post' , user: user, isUpdating: false }) %>
        </div>
      </div>
    </div>
  </section>

  <%- include('../../layouts/footer') %>
