<%- include('../../layouts/admin-header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <h1 class="title size-4"><%= user.name %></h1>
        <a href="/admin/users/<%= user._id %>/edit" class="button is-link is-small">Editar</a>
        <a href="/admin/users" class="button is-small">Voltar</a>
      </div>
    </div>
  </div>
</section>

<%- include('../../layouts/admin-footer') %>
