<%- include('../layouts/header') %>

<section class="hero is-danger is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title is-spaced">
        Oops! Parece que algo deu errado =(
      </h1>
      <h2 class="subtitle">
        <%= error %>
      </h2>
      <a href="/dashboard" class="button is-light">Voltar Ao Painel</a>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>
