<%- include('../layouts/header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="is-flex is-align-items-center is-justify-content-space-between">
          <h1 class="title mb-0">Novo Estudante</h1>
          <div class="buttons">
            <a href="/manager/classrooms/<%= student.classroom %>" class="button">
              Voltar para Turma
            </a>
          </div>
        </div>
        <hr>
        <%- include('_form', { url: '/manager/students?_method=post', student: student }) %> 
      </div>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>
