<%- include('../layouts/header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <h1 class="title is-4">Novo Aluno</h1>
        <hr>
        <%- include('_form', { url: '/manager/students?_method=post', student: student }) %> 
      </div>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>
