<form action="<%= url %>" method="POST">
  <section class="modal-card-body">
    <div class="field">
      <label class="label" for="year">Ano</label>
      <div class="control">
        <input
          class="input"
          type="text"
          name="academicYear[year]"
          id="year"
          placeholder="Ex.: 2021"
          value="<%= typeof academicYear.year != 'undefined' ? academicYear.year : '' %>"
          autofocus
          autocomplete="off"
          required
        />
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-success" type="submit">Salvar</button>
  </footer>
</form>
