<%- include('../../layouts/admin-header') %>

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <h1 class="title is-4">Editar Escola | <%= school.name %></h1>
        <hr>
        <%- include('_form', { url: `/admin/schools/${school._id}?_method=put`, school: school }) %> 
      </div>
    </div>
  </div>
</section>

<%- include('../../layouts/admin-footer') %>
