<nav class="navbar is-white" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/logo.png" width="28" height="28">
      <!-- <span class="ml-2">OpenSchools</span> -->
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/manager">
        Início
      </a>

      <a class="navbar-item" href="/manager/schools">
        Escolas
      </a>

      <a class="navbar-item" href="/manager/classrooms">
        Turmas
      </a>

      <a class="navbar-item" href="/manager/students">
        Alunos
      </a>
    </div>

    <div class="navbar-end">
      <a href="#" class="navbar-item">
        Meu Usuário
      </a>
      <div class="navbar-item">
        <a class="button is-danger" href="/auth/logout">
          Sair
        </a>
      </div>
    </div>
  </div>
</nav>
